#diseños {
  .diseños__title {
    font-size: 2.5rem;
    text-align: center;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 8px 0;
  }

  .slide__mobile {
    text-align: center;
    margin-top: 10px;

    img {
      margin: 6px;
    }
  }

  .diseño__main-btn {
    text-align: center;

    .diseño__btn {
      background-color: transparent;
      width: 200px;
      height: 50px;
      border: solid $primaryColor 2px;
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
      margin: 30px auto;

      &:hover {
        color: $secondaryColor;
        background: $primaryColor;
        transition: 0.5s;
      }
    }
  }
}
