#servicios {
  .servicios__title {
    font-size: 2.5rem;
    text-align: center;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 8px 0;
    margin-bottom: 15px;
  }

  .servicios__grid {
    margin-bottom: 55px;

    .servicios__grid--container {
      .servicios__imgs {
        clip-path: circle(40% at 50% 40%);
        width: 200px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin: auto;

        &:hover > .servicios__img-bg {
          opacity: 1;
          visibility: visible;
        }

        .servicios__img-bg {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(11, 183, 123, 0.6);
          transition: all 500ms ease-in-out;
          opacity: 0;
          visibility: hidden;

          .servicios__text-bg {
            font-size: 2rem;
            padding: 40px;
            text-align: center;
          }
        }
      }
      .servicios__text {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin: -30px 20px 0 20px;

        &:hover {
          color: $secondaryColor;
          background-color: $primaryColor;
        }
      }
    }
  }
  .servicio__main-btn {
    text-align: center;
    .servicio__btn {
      background-color: transparent;
      width: 200px;
      height: 50px;
      border: solid $primaryColor 2px;
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 30px;

      &:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
        transition: 0.5s;
      }
    }
  }
}
