#contacto {
    border-top: 2px $primaryColor solid;
    background-color: pink;
    align-items: center;
    padding: 20px;
    .contacto__title {
      @include text(center, 2.6rem, 760);
      font-family: "Dancing Script", cursive;
      color: $primaryColor;
      margin: 2px;
    }
  
    .contacto__menu {
      display: flex;
      justify-content: center;
      margin-right: 25px;
  
      .contacto__list {
        list-style-type: none;
        padding: 5px 10px;
  
        .contacto__link {
          font-size: 2rem;
          color: $primaryColor;
        }
      }
      .contacto__name {
        font-family: "EB Garamond", serif;
        color: $primaryColor;
        list-style-type: none;
        font-size: 2.5rem;
      }
    }
  }
  