#hero {
  @keyframes animationHero {
    0% {
      width: 0vw;
    }
    100% {
      width: 100vw;
    }
  }
  background: url(/img/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  animation-name: animationHero;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  .main__container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 16vh auto auto auto;
    text-align: center;
    width: 280px;

    .main__title {
      background-color: $primaryColor;
      color: $secondaryColor;
      font-size: 3.5rem;
      padding: 10px;
      margin-bottom: 15px;
    }

    .main__text {
      @include text(center, 1.5rem, 600);
      margin-bottom: 15px;
    }
  }
}
